  <%= form_with model: [current_author, story], local: true, class: "new-story-form" do |f| %>
    <section><%= f.text_field :story_title %></section>
    <section><%= f.text_area :story %></section>
    <%= f.submit "Publish" %>
  <% end %>
