<% if @story.errors.any? %>
  <ul class="errors">
    <% @story.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

<% if !is_admin? %>
  <%= button_to "Cancel", author_stories_path(current_author), method: :get %>
<% end %>
