// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new_word *{
  margin-right: 25px;
}

.new_word--input{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-word-card{
  width: 800px;
  border-color: rgba(252,210,15,1);
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  padding: 15px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.glossary-card{
  margin-top: 40px;
  margin-left: 20px;
  width: 80%;
}

.newspaper{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.lemma-card{
  margin-top: 5px;
}

.lemma-card--delete{
  font-family: monospace;
}

.lemma-card--lemma{
  font-weight: 900;
}

.lemma-card--lexical-category {
  font-variant: small-caps;
}

.lemma-card--lemma-class{
  font-style: italic;
}

.lemma-card--notes{
  font-weight: bold;
  font-style: italic;
}

.lemma-card--origin{
  font-variant: small-caps;
  font-style: italic;
}
